<h1> 1-10 Array.... Loops there it is</h1>
<hr />

<ol>
  <!--loop the numbers array-->
  <!--echo out the value -->
  <% @numbers.each  do |num|%>
    <li>
      <%= num %>
    </li>
  <% end%>
</ol>

<a href='/'>Home</a>
<a href='/zoo'>Zoo</a>
