<h1>Welcome to the DevPoint Labs Zoo!</h1>
<hr />


<div>
  <h3> Animals In The Zoo</h3>
  <ul>
    <% @animals.each do |animal| %>
    <li><%= animal %></li>
    <% end %>
  </ul>
</div>

<!-- Non echoing ERB Tag-->
<!-- Looping, Variable Creation, Conditionals -->

<!-- Echoning ERB Tag -->
<!-- Printing out variable values -->
<%= @name %>
